* {
  margin: 0;
  padding: 0;
}

.statusHolder {
  text-align: center;
  font-size: 60px;
  background-color: lightblue;
  color: #454545;
  margin: 0;
  padding-bottom: 25px;
}

.gameHolder {
  text-align: center;
  margin-top: 20px;
}

.gameHolder div {
  margin: 10px 0px 10px 0px;
}
